<h2>News</h2>
<div ng-repeat="project in projects | orderBy:'date':true">
    <h3>{{project.title}}</h3>
    <h4 ng-show="project.subtitle != ''">{{project.subtitle}}<span ng-show="project.language != 'english'"> (In {{project.language | capitalize}})</span></h4>
    <div ng-click="details = toggleDetails(details)">See Details</div>
    <div ng-switch="details">
        <div ng-switch-when="false">
            <p>Date: {{project.date}}</p>
            <p>Participants: <span ng-repeat="participant in project.participants | orderBy:'first_name'"><span ng-hide="$first == true">, </span><span ng-show="$last == true"> and </span>{{participant.first_name + ' ' + participant.last_name}}</span>
            <p>{{project.description}}</p>
            <ul>
                <li ng-repeat="link in project.links">
                    <a ng-href="link.url">{{link.title}}</a>
                </li>
            </ul>
        </div>
        <div ng-switch-when="true">
            <p>A LOT OF EXTRA STUFF</p>
            <p>Date: {{project.date}}</p>
            <ul>
                <li ng-repeat="link in project.links">
                    <a ng-href="link.url">{{link.title}}</a>
                </li>
            </ul>
            <p>{{project.description}}</p>
            <p>In {{project.language | capitalize}}</p>
            <p>Participants: <span ng-repeat="participant in project.participants | orderBy:'first_name'"><span ng-hide="$first == true">, </span><span ng-show="$last == true"> and </span>{{participant.first_name + ' ' + participant.last_name}}</span>
        </div>
    </div>
</div>